.button-don {
	outline: 2px solid $color-urgency;
	border: 2px solid $white;
	background-color: $color-urgency;
	padding: 7px 34px;
	position: relative;
	max-height: 42px;
	
	.cross {  
		position: absolute;
		top: 15px;
		left: 20px;
	}
	
	.text {
		color: $white;
		text-transform: uppercase;
		font-size: 12px;
		font-family: $defaultFont;
		font-weight: bold;
	}
	
	&:hover {
		text-decoration: none;
		color: $white;
		transform: scale(1.1);
	}
}

.button-don-refonte {
	background-color: $color-urgency;
	padding: 2px;
	position: relative;
	transition: transform $transitionTime;
	display: flex;
	align-items: center;
	min-width: 180px;
	min-height: 44px;

	.cross {  
		position: absolute;
		top: 18px;
		left: 20px;
	}
	
	.text {
		color: $white;
		text-transform: uppercase;
		font-size: 12px;
		font-family: $defaultFont;
		font-weight: bold;
	}
	
	.my-border-white {
		width: 100%;
		height: 100%;
		border: 2px solid white;
		padding: 7px 34px;
		transition: padding $transitionTime, margin $transitionTime, border-color 0.6s;
	}

	&:hover {
		text-decoration: none;
		color: $white;
		transform: scale(1.1);		

		.my-border-white {
			padding: 0;
			margin: 7px 34px;
			border-color: transparent;
		}
	}
}


.button-don-virement {
	outline: none;
	border: none;
	background-color: #eaeced;
	padding: 7px 34px;
	max-height: 42px;
	
	.text {
		color: $color-dark-blue;
		text-transform: uppercase;
		font-size: 15px;
		font-family: $defaultFont;
	}
	
	&:hover {
		text-decoration: none;
		color: $color-dark-blue;
	}
}

.button-don-cheque {
	color: $color-dark-blue;
	font-size: 14px;
	
	&:hover {
		//text-decoration: none;
		color: $color-dark-blue;
	}
}

