.deduction {
    padding: 0 20px;
    position: relative;
    
    .plus {
        position: absolute;
        left: -420px;
        top: 350px;
        z-index: 0;
    }

    .title {
        color: $color-dark-blue;
        font-size: 40px;
        text-transform: uppercase;
        margin-bottom: 20px;
        
        .my-border {
            display: inline-block;
            border-bottom: 5px solid rgba(0, 0, 0, 0.10);
            
            .red {
                color: $color-urgency;
            }

            #deduction-type-text {
                color: $color-grey;
            }
        }
    }

    .square {
        display: inline-block;
        width: 12px;
        height: 12px;
        position: relative;
    }

    .red {
        color: $color-urgency;
        .square {
            background-color: $color-urgency;
        }
    }

    .grey {
        color: rgba(53, 66, 83, 0.5);
        .square {
            background-color: $color-grey;
        }
    }

    .circle-wrapper {
        display: none;

        .circle-background {
            width: 210px;
            height: 201px;
            background-image: url('../img/circle-ifi.png');
            background-repeat: no-repeat;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: relative;
            margin: 0 auto;
    
            .inside {
                display: flex;
                flex-direction: column;
                max-width: 100px;
                color: $color-dark-blue;
                
                .text {
                    font-size: 16px;
                    line-height: 1.0;
                    margin-bottom: 4px;
                }
    
                .amount-center {
                    font-weight: bold;
                    font-size: 25px;
    
                    .free-amount {
                        color: $color-dark-blue;
                        font-weight: bold;
                        font-size: 25px;
                        width: 100%;
                        border: none;
                        background-color: $color-light-grey;
                        border-radius: 2px;
                        display: inline-block;
                        text-align: center;
                    }
                }
            }
    
            .amount-left-bottom {
                position: absolute;
                left: -35px;
                bottom: 8px;
                color: $color-grey;
                font-size: 20px;
                font-weight: bold;
                width: 66px;
                text-align: right;
            }
    
            .amount-right-top {
                position: absolute;
                right: -46px;
                top: 12px;
                color: $color-urgency;
                font-size: 20px;
                font-weight: bold;
                width: 66px;
                text-align: left;
            }
        }
    }

    //# FIX MOBILE
	@include media-breakpoint-down(sm) {
		& {
            .title {
                line-height: 1.2;
            }
        }
    }
}