footer {
    padding: 10px 20px 100px 20px;
    position: relative;

    .plus {
        position: absolute;
        right: -80px;
        top: -330px;
    }

    img {
        max-width: 100%;
    }

    p {
        font-size: 16px;
        color: $color-dark-blue;
    }

    nav.links {
        padding: 50px 0;
        text-align: center;

        a {
            display: inline-block;
            font-size: 16px;
            font-weight: bold;
            margin: 5px 20px;
            color: $color-dark-blue;
        }
    }

    nav.social-media {
        text-align: center;

        a {
            display: inline-block;
            font-size: 16px;
            font-weight: bold;
            margin: 0 10px;
            color: $color-dark-blue;
        }
    }
}

#cguModal {
    .modal-dialog {
        max-width: 960px;
    }
    
    .modal-body {
        .my-container {
            padding: 40px 120px;

            .main-title {
                font-size: 40px;
                text-align: center;
                margin-bottom: 40px;
    
                .my-border {
                    display: inline-block;
                    border-bottom: 5px solid rgba(0, 0, 0, 0.10);
    
                    span {
                        color: $color-urgency;
                    }
                }
            }
    
            .p-title {
                font-size: 22px;
                color: $color-dark-blue;     
                font-weight: bold;
                text-transform: uppercase;
                line-height: 1.2;
            }
    
            .p-text {
                font-size: 22px;
                color: $color-dark-blue;
                margin-bottom: 20px;
                line-height: 1.2;
            }
        }
    }  
}

@include media-breakpoint-down(sm) {
    #cguModal {

        .modal-body {
            .my-container {
                padding: 40px 20px;
            }
        }
    }
}